openapi: 3.0.0
info:
  description: E-Commerce BI & CRM Tool
  title: Customa
  version: 3.12.0
servers:
- description: Customa
  url: https://www.customa.biz/
tags:
- description: auth
  name: auth
- description: customer
  name: customer
- description: product
  name: product
- description: receipt
  name: receipt
- description: segment
  name: segment
- description: settings
  name: settings
- description: stats
  name: stats
- description: category
  name: category
- description: project
  name: project
- description: traffic
  name: traffic
paths:
  /api/v3/auth/login:
    post:
      deprecated: true
      description: |-
        A user is authenticated using their username and password and a project ID. If the credentials are valid, a token
        is returned that can be used for further API requests. The token is valid for a limited time and can be refreshed
        using the refresh endpoint. It is recommended to refresh the token at least 10 minutes before it expires to
        ensure uninterrupted access to the API.
      operationId: auth_login_v3
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthLoginRequestV3"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthTokenResponseV3"
          description: The authentication was successful.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseV3"
          description: The request body is invalid or malformed.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseV3"
          description: Invalid credentials provided.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseV3"
          description: Insufficient permissions to access the API or the project.
      security: []
      summary: Authentication of a user for the API.
      tags:
      - auth
  /api/v3/auth/logout:
    post:
      deprecated: true
      description: The logout endpoint allows a user to manually invalidate their
        current API authentication token.
      operationId: auth_logout_v3
      responses:
        "200":
          description: The current token was successfully deleted.
      security:
      - apiV3Token: []
      summary: Manually invalidate an API Auth Token.
      tags:
      - auth
  /api/v3/auth/refresh:
    post:
      deprecated: true
      description: |-
        This endpoint allows a user to refresh their current API authentication token. The current token will be
        invalidated, and a new token will be issued with an updated expiration time.
      operationId: auth_refresh_v3
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthTokenResponseV3"
          description: The current token was successfully refreshed.
      security:
      - apiV3Token: []
      summary: Refresh an API Auth Token.
      tags:
      - auth
  /api/v3/customer:
    post:
      deprecated: true
      description: A new customer is created and the ID of the created customer is
        returned.
      operationId: customer_post_v3
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StrictCustomer"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemCreatedResponse"
          description: The customer was successfully created.
      security:
      - apiV3Token: []
      summary: Creates a new Customer.
      tags:
      - customer
  /api/v3/customer/{id}:
    delete:
      deprecated: true
      operationId: customer_delete_v3
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The customer was found and deleted.
        "404":
          description: The customer was not found.
        "409":
          description: The customer could not be deleted because it is referenced
            by other entities.
      security:
      - apiV3Token: []
      summary: Deletes a customer with the given ID.
      tags:
      - customer
    get:
      deprecated: true
      operationId: customer_get_v3
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StrictCustomer"
          description: The customer was found.
        "404":
          description: The customer was not found.
      security:
      - apiV3Token: []
      summary: Retrieves a customer by their ID.
      tags:
      - customer
    patch:
      deprecated: true
      description: |-
        This method allows for partial updates to a customer's data. Only the fields provided in the request body will
        be updated, leaving other fields unchanged.
      operationId: customer_patch_v3
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Customer"
        required: true
      responses:
        "200":
          description: The customer was successfully updated.
        "404":
          description: The customer was not found.
      security:
      - apiV3Token: []
      summary: Updates a customer with the given ID partially.
      tags:
      - customer
    put:
      deprecated: true
      description: |-
        The customer must already exist in the system. All customer data is replaced with the data provided in the
        request body.
      operationId: customer_put_v3
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StrictCustomer"
        required: true
      responses:
        "200":
          description: The customer was successfully updated.
        "404":
          description: The customer was not found.
      security:
      - apiV3Token: []
      summary: Overwrites a customer with the given ID.
      tags:
      - customer
  /api/v3/customer/search:
    post:
      deprecated: true
      description: |-
        Using the search endpoint, customers can be filtered based on various criteria, which are combined using the
        boolean AND operator. Multiple values can be provided for a filter, these will be combined using the boolean OR
        operator. The results returned are paginated and sorted by the ID in ascending order.

        **Please note:** As Customa may choose a lower page size than the provided one, it is recommended to use the
        value returned by the first request when scrolling through multiple result pages.
      operationId: customer_search_v3
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerSearchResponse"
          description: A search response with customers matching the search criteria.
      security:
      - apiV3Token: []
      summary: Searches for customers by the given filters.
      tags:
      - customer
  /api/v3/product:
    post:
      deprecated: true
      description: A new product is created using the provided data. The product ID
        is returned in the response.
      operationId: product_post_v3
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StrictProduct"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemCreatedResponse"
          description: The product was successfully created.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseV3"
          description: A product with this number already exists.
      security:
      - apiV3Token: []
      summary: Creates a new Product.
      tags:
      - product
  /api/v3/product/{id}:
    delete:
      deprecated: true
      operationId: product_delete_v3
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The product was successfully deleted.
        "404":
          description: The product was not found.
        "409":
          description: The product cannot be deleted because it is referenced by other
            entities.
      security:
      - apiV3Token: []
      summary: Deletes a product by its ID.
      tags:
      - product
    get:
      deprecated: true
      operationId: product_get_v3
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StrictProduct"
          description: The product was successfully retrieved.
        "404":
          description: The product was not found.
      security:
      - apiV3Token: []
      summary: Retrieves a product by its ID.
      tags:
      - product
    patch:
      deprecated: true
      description: |-
        This method allows for partial updates to a product's data. Only the fields provided in the request body will be
        updated.
      operationId: product_patch_v3
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Product"
        required: true
      responses:
        "200":
          description: The product was successfully updated.
        "404":
          description: The product was not found.
      security:
      - apiV3Token: []
      summary: Updates a product partially by its ID.
      tags:
      - product
    put:
      deprecated: true
      description: The product must already exist. The provided data will replace
        the existing product data.
      operationId: product_put_v3
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StrictProduct"
        required: true
      responses:
        "200":
          description: The product was successfully updated.
        "404":
          description: The product was not found.
      security:
      - apiV3Token: []
      summary: Overwrites an existing product with the given ID.
      tags:
      - product
  /api/v3/product/search:
    post:
      deprecated: true
      description: |-
        Using the search endpoint, products can be filtered based on various criteria, which are combined using the
        boolean AND operator. Multiple values can be provided for a filter, these will be combined using the boolean OR
        operator. The results returned are paginated and sorted by the ID in ascending order.

        **Please note:** As Customa may choose a lower page size than the provided one, it is recommended to use the
        value returned by the first request when scrolling through multiple result pages.
      operationId: product_search_v3
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductSearchResponse"
          description: A search response with products matching the search criteria.
      security:
      - apiV3Token: []
      summary: Searches for products by the given filters.
      tags:
      - product
  /api/v3/receipt:
    post:
      deprecated: true
      description: A receipt is created using the provided JSON data. The ID of the
        created receipt is returned in the response.
      operationId: receipt_post_v3
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StrictReceipt"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemCreatedResponse"
          description: The receipt was successfully created.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseV3"
          description: A receipt with this number already exists.
      security:
      - apiV3Token: []
      summary: Creates a new receipt.
      tags:
      - receipt
  /api/v3/receipt/{id}:
    delete:
      deprecated: true
      operationId: receipt_delete_v3
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The receipt was successfully deleted.
        "404":
          description: The receipt was not found.
      security:
      - apiV3Token: []
      summary: Deletes a receipt by its ID.
      tags:
      - receipt
    get:
      deprecated: true
      operationId: receipt_get_v3
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StrictReceipt"
          description: The receipt was successfully retrieved.
        "404":
          description: The receipt was not found.
      security:
      - apiV3Token: []
      summary: Retrieves a receipt by its ID.
      tags:
      - receipt
    patch:
      deprecated: true
      description: |-
        The receipt must already exist. The provided data will be merged with the existing receipt data. Any receipt
        item that is not present in the request will remain unchanged. If the provided data contains receipt items, the
        existing receipt items will be replaced with the provided items.
      operationId: receipt_patch_v3
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Receipt"
        required: true
      responses:
        "200":
          description: The receipt was successfully updated.
        "404":
          description: The receipt was not found.
      security:
      - apiV3Token: []
      summary: Partially updates an existing receipt with the given ID.
      tags:
      - receipt
    put:
      deprecated: true
      description: |-
        The receipt must already exist. The provided data will replace the existing receipt data. Any receipt item that
        is not present in the request will be removed from the receipt.
      operationId: receipt_put_v3
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StrictReceipt"
        required: true
      responses:
        "200":
          description: The receipt was successfully updated.
        "404":
          description: The receipt was not found.
      security:
      - apiV3Token: []
      summary: Overwrites an existing receipt with the given ID.
      tags:
      - receipt
  /api/v3/receipt/search:
    post:
      deprecated: true
      description: |-
        Using the search endpoint, receipts can be filtered based on various criteria, which are combined using the
        boolean AND operator. Multiple values can be provided for a filter, these will be combined using the boolean OR
        operator. The results returned are paginated and sorted by the ID in ascending order.

        **Please note:** As Customa may choose a lower page size than the provided one, it is recommended to use the
        value returned by the first request when scrolling through multiple result pages.
      operationId: receipt_search_v3
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReceiptSearchResponse"
          description: A search response with receipts matching the search criteria.
      security:
      - apiV3Token: []
      summary: Searches for receipts by the given filters.
      tags:
      - receipt
  /api/v3/segment:
    get:
      deprecated: true
      description: |-
        Returns an array of customer segments with their RFM metrics (Recency, Frequency, Monetary)
        and lifetime value data for customer segmentation and analysis.
      operationId: segments_get_v3
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SegmentList"
          description: The result.
      security:
      - apiV3Token: []
      summary: Retrieve Customer Segments.
      tags:
      - segment
  /api/v3/segment/definition:
    get:
      deprecated: true
      operationId: definition_get_v3
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SegmentDefinition"
          description: The result.
      security:
      - apiV3Token: []
      summary: Returns Customer Segment Data.
      tags:
      - segment
  /api/v3/settings:
    get:
      deprecated: true
      operationId: settings_list_v3
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SettingsDefinition"
          description: The settings definition.
      security:
      - apiV3Token: []
      summary: Returns a definition of the available settings.
      tags:
      - settings
  /api/v3/settings/{name}:
    get:
      deprecated: true
      operationId: settings_get_v3
      parameters:
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Setting"
          description: The setting was found.
        "403":
          description: The setting is confidential and is not readable via the API.
        "404":
          description: The setting was not found.
      security:
      - apiV3Token: []
      summary: Returns the values of a given setting.
      tags:
      - settings
  /api/v3/settings/{name}/validate:
    post:
      deprecated: true
      operationId: settings_validate_v3
      parameters:
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Setting"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SettingValidationResponse"
          description: The setting was found validated.
        "404":
          description: The setting was not found.
      security:
      - apiV3Token: []
      summary: Validates the given setting.
      tags:
      - settings
  /api/v3/stats/receipt:
    post:
      deprecated: true
      operationId: stats_receipt_v3
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StatsRequest"
        description: Request body for receipt statistics.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatsReceiptGroups"
          description: The result.
      security:
      - apiV3Token: []
      summary: Calculates receipt statistics.
      tags:
      - stats
  /api/v3/stats/receipt/groupings:
    get:
      deprecated: true
      operationId: stats_receipt_groupings_v3
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChoicesList"
          description: Grouping options for receipt statistics.
      security:
      - apiV3Token: []
      summary: Returns a list of grouping options for receipt statistics.
      tags:
      - stats
  /api/v3/stats/receipt_item:
    post:
      deprecated: true
      operationId: stats_receipt_item_v3
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StatsRequest"
        description: Request body for receipt item statistics.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatsReceiptItemGroups"
          description: The result.
      security:
      - apiV3Token: []
      summary: Calculates receipt item statistics.
      tags:
      - stats
  /api/v3/stats/receipt_item/groupings:
    get:
      deprecated: true
      operationId: stats_receipt_item_groupings_v3
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChoicesList"
          description: Grouping options for receipt statistics.
      security:
      - apiV3Token: []
      summary: Returns a list of grouping options for receipt statistics.
      tags:
      - stats
  /api/v4/auth/login:
    post:
      description: "This endpoint allows users to authenticate using their username\
        \ and password. Upon successful authentication, a token is returned that can\
        \ be used for subsequent API requests. The token is valid for a limited time\
        \ and should be refreshed by reauthenticating before it expires to ensure\
        \ uninterrupted access to the API."
      operationId: auth_login_v4
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthLoginRequestV4"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthTokenResponseV4"
          description: The authentication was successful.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseV4"
          description: The request body is invalid or malformed.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseV4"
          description: Invalid credentials provided.
      security: []
      summary: API Endpoint for JSON authentication.
      tags:
      - auth
  /api/v4/category/{project}:
    post:
      operationId: category_post_v4
      parameters:
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CategoryV4"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemCreatedResponse2"
          description: The category was successfully created.
        "422":
          description: The provided data is invalid.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Creates a new category.
      tags:
      - category
  /api/v4/category/{project}/{id}:
    delete:
      operationId: category_delete_v4
      parameters:
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The category was successfully deleted.
        "404":
          description: The category was not found.
        "409":
          description: The category cannot be deleted because it is referenced by
            child categories or products.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Deletes a category by its ID.
      tags:
      - category
    get:
      operationId: category_get_v4
      parameters:
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryV4"
          description: The category was successfully retrieved.
        "404":
          description: The category was not found.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Retrieves a category by its ID.
      tags:
      - category
    put:
      operationId: category_put_v4
      parameters:
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CategoryV4"
        required: true
      responses:
        "200":
          description: The category was successfully updated.
        "404":
          description: The category was not found.
        "422":
          description: The provided data is invalid or would create a circular reference.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Overwrites an existing category with the given ID.
      tags:
      - category
  /api/v4/category/{project}/search:
    post:
      operationId: category_search_v4
      parameters:
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategorySearchResponseV4"
          description: A search response with categories matching the search criteria.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Searches for categories by the given filters.
      tags:
      - category
  /api/v4/customer/{project}:
    post:
      description: A new customer is created using the provided data. The customer
        ID is returned in the response.
      operationId: customer_post_v4
      parameters:
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerV4"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemCreatedResponse2"
          description: The customer was successfully created.
        "422":
          description: The request data is invalid.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Creates a new customer.
      tags:
      - customer
  /api/v4/customer/{project}/{id}:
    delete:
      operationId: customer_delete_v4
      parameters:
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: \d+
          type: string
        style: simple
      responses:
        "204":
          description: The customer was successfully deleted.
        "404":
          description: The customer was not found.
        "409":
          description: The customer cannot be deleted because it is referenced by
            other entities.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Deletes a customer by their ID.
      tags:
      - customer
    get:
      operationId: customer_get_v4
      parameters:
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: \d+
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerV4"
          description: The customer was successfully retrieved.
        "404":
          description: The customer was not found.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Retrieves a customer by their ID.
      tags:
      - customer
    put:
      description: The customer must already exist. The provided data will replace
        the existing customer data.
      operationId: customer_put_v4
      parameters:
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: \d+
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerV4"
        required: true
      responses:
        "200":
          description: The customer was successfully updated.
        "404":
          description: The customer was not found.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Overwrites an existing customer with the given ID.
      tags:
      - customer
  /api/v4/customer/{project}/search:
    post:
      description: |-
        Using the search endpoint, customers can be filtered based on various criteria, which are combined using the
        boolean AND operator. Multiple values can be provided for a filter, these will be combined using the boolean OR
        operator. The results returned are paginated and sorted by the ID in ascending order.

        **Please note:** As Customa may choose a lower page size than the provided one, it is recommended to use the
        value returned by the first request when scrolling through multiple result pages.
      operationId: customer_search_v4
      parameters:
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerSearchResponseV4"
          description: A search response with customers matching the search criteria.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Searches for customers by the given filters.
      tags:
      - customer
  /api/v4/customer/{project}/fields:
    get:
      operationId: customer_fields_v4
      parameters:
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FieldDefinitions"
          description: Fields and filters for customer search.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Returns a list of fields and allowed filters for customer search.
      tags:
      - customer
  /api/v4/product/{project}:
    post:
      description: A new product is created using the provided data. The product ID
        is returned in the response.
      operationId: product_post_v4
      parameters:
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductV4"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemCreatedResponse2"
          description: The product was successfully created.
        "422":
          description: A product with this number already exists.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Creates a new product.
      tags:
      - product
  /api/v4/product/{project}/{id}:
    delete:
      operationId: product_delete_v4
      parameters:
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: \d+
          type: string
        style: simple
      responses:
        "204":
          description: The product was successfully deleted.
        "404":
          description: The product was not found.
        "409":
          description: The product cannot be deleted because it is referenced by other
            entities.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Deletes a product by its ID.
      tags:
      - product
    get:
      operationId: product_get_v4
      parameters:
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: \d+
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductV4"
          description: The product was successfully retrieved.
        "404":
          description: The product was not found.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Retrieves a product by its ID.
      tags:
      - product
    put:
      description: The product must already exist. The provided data will replace
        the existing product data.
      operationId: product_put_v4
      parameters:
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: \d+
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductV4"
        required: true
      responses:
        "200":
          description: The product was successfully updated.
        "404":
          description: The product was not found.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Overwrites an existing product with the given ID.
      tags:
      - product
  /api/v4/product/{project}/search:
    post:
      description: |-
        Using the search endpoint, products can be filtered based on various criteria, which are combined using the
        boolean AND operator. Multiple values can be provided for a filter, these will be combined using the boolean OR
        operator. The results returned are paginated and sorted by the ID in ascending order.

        **Please note:** As Customa may choose a lower page size than the provided one, it is recommended to use the
        value returned by the first request when scrolling through multiple result pages.
      operationId: product_search_v4
      parameters:
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductSearchResponseV4"
          description: A search response with products matching the search criteria.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Searches for products by the given filters.
      tags:
      - product
  /api/v4/product/{project}/fields:
    get:
      operationId: product_fields_v4
      parameters:
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FieldDefinitions"
          description: Fields and filters for product search.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Returns a list of fields and allowed filters for product search.
      tags:
      - product
  /api/v4/project:
    get:
      operationId: project_list_v4
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectList"
          description: A list of projects the user has access to.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Returns a list of the User's projects.
      tags:
      - project
  /api/v4/receipt/{project}:
    post:
      description: A new receipt is created using the provided data. The receipt ID
        is returned in the response.
      operationId: receipt_post_v4
      parameters:
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReceiptV4"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemCreatedResponse2"
          description: The receipt was successfully created.
        "422":
          description: A receipt with this number already exists or the request data
            is invalid.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Creates a new receipt.
      tags:
      - receipt
  /api/v4/receipt/{project}/{id}:
    delete:
      operationId: receipt_delete_v4
      parameters:
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: \d+
          type: string
        style: simple
      responses:
        "204":
          description: The receipt was successfully deleted.
        "404":
          description: The receipt was not found.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Deletes a receipt by its ID.
      tags:
      - receipt
    get:
      operationId: receipt_get_v4
      parameters:
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: \d+
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReceiptV4"
          description: The receipt was successfully retrieved.
        "404":
          description: The receipt was not found.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Retrieves a receipt by its ID.
      tags:
      - receipt
    put:
      description: |-
        The receipt must already exist. The provided data will replace the existing receipt data. Any receipt item
        that is not present in the request will be removed from the receipt.
      operationId: receipt_put_v4
      parameters:
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: \d+
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReceiptV4"
        required: true
      responses:
        "200":
          description: The receipt was successfully updated.
        "404":
          description: The receipt was not found.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Overwrites an existing receipt with the given ID.
      tags:
      - receipt
  /api/v4/receipt/{project}/search:
    post:
      description: |-
        Using the search endpoint, receipts can be filtered based on various criteria, which are combined using the
        boolean AND operator. Multiple values can be provided for a filter, these will be combined using the boolean OR
        operator. The results returned are paginated and sorted by the ID in ascending order.

        **Please note:** As Customa may choose a lower page size than the provided one, it is recommended to use the
        value returned by the first request when scrolling through multiple result pages.
      operationId: receipt_search_v4
      parameters:
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReceiptSearchResponseV4"
          description: A search response with receipts matching the search criteria.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Searches for receipts by the given filters.
      tags:
      - receipt
  /api/v4/receipt/{project}/fields:
    get:
      operationId: receipt_fields_v4
      parameters:
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FieldDefinitions"
          description: Fields and filters for receipt search.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Returns a list of fields and allowed filters for receipt search.
      tags:
      - receipt
  /api/v4/segment/{project}:
    get:
      description: |-
        Returns an array of customer segments with their RFM metrics (Recency, Frequency, Monetary)
        and lifetime value data for customer segmentation and analysis.
      operationId: segments_get_v4
      parameters:
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SegmentList"
          description: The result.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Retrieve Customer Segments.
      tags:
      - segment
  /api/v4/segment/{project}/definition:
    get:
      operationId: definition_get_v4
      parameters:
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SegmentDefinition"
          description: The result.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Returns Customer Segment Data.
      tags:
      - segment
  /api/v4/settings:
    get:
      operationId: settings_list_v4
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SettingsDefinition"
          description: The settings definition.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Returns a definition of the available settings.
      tags:
      - settings
  /api/v4/settings/{project}/{name}:
    get:
      operationId: settings_get_v4
      parameters:
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Setting"
          description: The setting was found.
        "403":
          description: The setting is confidential and is not readable via the API.
        "404":
          description: The setting was not found.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Returns the values of a given setting.
      tags:
      - settings
  /api/v4/settings/{project}/{mappingShopId}/{name}:
    get:
      operationId: settings_get_marketplace_v4
      parameters:
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: mappingShopId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SettingMarketplaceValue"
          description: The setting value for the marketplace.
        "403":
          description: The setting is confidential and is not readable via the API.
        "404":
          description: The setting or marketplace was not found.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Returns the value of a setting for a specific marketplace.
      tags:
      - settings
    put:
      operationId: settings_set_marketplace_v4
      parameters:
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: mappingShopId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SettingValueRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SettingMarketplaceValue"
          description: The updated setting value.
        "400":
          description: Invalid request body.
        "404":
          description: The setting or marketplace was not found.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Saves the value of a setting for a specific marketplace.
      tags:
      - settings
  /api/v4/settings/{project}/{name}/validate:
    post:
      operationId: settings_validate_v4
      parameters:
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Setting"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SettingValidationResponse"
          description: The setting was found validated.
        "404":
          description: The setting was not found.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Validates the given setting.
      tags:
      - settings
  /api/v4/stats/{project}/receipt:
    post:
      operationId: stats_receipt_v4
      parameters:
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StatsRequest"
        description: Request body for receipt statistics.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatsReceiptGroups"
          description: The result.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Calculates receipt statistics.
      tags:
      - stats
  /api/v4/stats/{project}/receipt/groupings:
    get:
      operationId: stats_receipt_groupings_v4
      parameters:
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatsGroupings"
          description: Grouping options for receipt statistics.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Returns a list of grouping options for receipt statistics.
      tags:
      - stats
  /api/v4/stats/{project}/receipt/fields:
    get:
      operationId: stats_receipt_fields_v4
      parameters:
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FieldDefinitions"
          description: Fields and filters for receipt statistics.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Returns a list of fields and allowed filters for receipt statistics.
      tags:
      - stats
  /api/v4/stats/{project}/receipt_item:
    post:
      operationId: stats_receipt_item_v4
      parameters:
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StatsRequest"
        description: Request body for receipt item statistics.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatsReceiptItemGroups"
          description: The result.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Calculates receipt item statistics.
      tags:
      - stats
  /api/v4/stats/{project}/receipt_item/groupings:
    get:
      operationId: stats_receipt_item_groupings_v4
      parameters:
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatsGroupings"
          description: Grouping options for receipt statistics.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Returns a list of grouping options for receipt statistics.
      tags:
      - stats
  /api/v4/stats/{project}/receipt_item/fields:
    get:
      operationId: stats_receipt_item_fields_v4
      parameters:
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FieldDefinitions"
          description: Fields and filters for receipt item statistics.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Returns a list of fields and allowed filters for receipt item statistics.
      tags:
      - stats
  /api/v4/traffic/{project}/filters:
    get:
      operationId: traffic_filters_v4
      parameters:
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrafficFiltersResponse"
          description: Available filter options.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Returns available filter options for the traffic analyzer.
      tags:
      - traffic
  /api/v4/traffic/{project}:
    post:
      operationId: traffic_data_v4
      parameters:
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TrafficRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrafficResponse"
          description: Traffic data groups.
        "400":
          description: The request body is invalid or malformed.
      security:
      - apiV4Token: []
        apiV4BasicAuth: []
      summary: Returns traffic data for the given project and filters.
      tags:
      - traffic
components:
  schemas:
    BasicSearchResponse:
      properties:
        TotalCount:
          description: Total number of items.
          example: 100
          type: integer
        CurrentPage:
          description: Current page number.
          example: 1
          type: integer
        PagesCount:
          description: Total number of pages.
          example: 10
          type: integer
        PageSize:
          description: Number of items per page.
          example: 10
          type: integer
      required:
      - CurrentPage
      - PageSize
      - PagesCount
      - TotalCount
      type: object
    CustomerSearchResponse:
      allOf:
      - $ref: "#/components/schemas/BasicSearchResponse"
      - properties:
          Customers:
            description: List of customers.
            items:
              $ref: "#/components/schemas/StrictCustomer"
            type: array
        type: object
      example:
        TotalCount: 100
        PageSize: 10
        CurrentPage: 1
        Customers:
        - CreationDate: 2000-01-23T04:56:07.000+00:00
          Group: group1
          Company: "ACME, Inc."
          Address: Musterweg 42
          Suburb: ""
          ContactBan: false
          PostalCode: "12345"
          Birthday: 1980-01-01
          Salutation: m
          ExternalCustomerID: 12345
          Segment: A1
          Newsletter: false
          ReferenceCustomer: false
          Number: K123456
          ModificationDate: 2000-01-23T04:56:07.000+00:00
          Phone: 123 456 7890
          ExternalOrderAccountID: 42
          ID: "12345"
          TestUser: false
          ExternalOrderSubAccountID: ExternalOrderSubAccountID
          FirstName: Max
          RegisterDate: 2000-01-23T04:56:07.000+00:00
          AdditionalFields:
          - Value: "42"
            Key: Example
          - Value: "42"
            Key: Example
          Title: Dr.
          City: Musterstadt
          EMail: EMail
          ReferrerChannel: direct
          ExternalCustomerExternalID: "12345"
          Marketplace: shop
          Referrer: example
          PurchaseDate: 2025-04-04T09:39:19.931Z
          Country: DE
          LastName: Mustermann
          ExternalOrderType: shop
        - CreationDate: 2000-01-23T04:56:07.000+00:00
          Group: group1
          Company: "ACME, Inc."
          Address: Musterweg 42
          Suburb: ""
          ContactBan: false
          PostalCode: "12345"
          Birthday: 1980-01-01
          Salutation: m
          ExternalCustomerID: 12345
          Segment: A1
          Newsletter: false
          ReferenceCustomer: false
          Number: K123456
          ModificationDate: 2000-01-23T04:56:07.000+00:00
          Phone: 123 456 7890
          ExternalOrderAccountID: 42
          ID: "12345"
          TestUser: false
          ExternalOrderSubAccountID: ExternalOrderSubAccountID
          FirstName: Max
          RegisterDate: 2000-01-23T04:56:07.000+00:00
          AdditionalFields:
          - Value: "42"
            Key: Example
          - Value: "42"
            Key: Example
          Title: Dr.
          City: Musterstadt
          EMail: EMail
          ReferrerChannel: direct
          ExternalCustomerExternalID: "12345"
          Marketplace: shop
          Referrer: example
          PurchaseDate: 2025-04-04T09:39:19.931Z
          Country: DE
          LastName: Mustermann
          ExternalOrderType: shop
        PagesCount: 10
      required:
      - Customers
      type: object
    ProductSearchResponse:
      allOf:
      - $ref: "#/components/schemas/BasicSearchResponse"
      - properties:
          Products:
            description: List of products.
            items:
              $ref: "#/components/schemas/StrictProduct"
            type: array
        type: object
      example:
        TotalCount: 100
        Products:
        - Status: true
          CreationDate: 2000-01-23T04:56:07.000+00:00
          RecommendedRetailPrice:
            Currency: Currency
            Value: 0.8008282
          Parent: "12344"
          AdditionalFields:
          - Value: "42"
            Key: Example
          - Value: "42"
            Key: Example
          TaxClass: Normal
          PurchasePrice:
            Currency: Currency
            Value: 0.8008282
          Vendor: ACME Inc.
          Name: Toaster
          ShortDescription: A toaster made of stainless steel.
          SalesPrice:
            Currency: Currency
            Value: 0.8008282
          EAN: "1234567890123"
          LongDescription: A toaster made of stainless steel with a 2-slice capacity
            and a 7-setting browning control.
          Number: PROD0001
          ModificationDate: 2000-01-23T04:56:07.000+00:00
          Manufacturer: ACME Inc.
          ID: "12345"
          ImageSource: https://example.com/image.jpg
          Stock: 100
        - Status: true
          CreationDate: 2000-01-23T04:56:07.000+00:00
          RecommendedRetailPrice:
            Currency: Currency
            Value: 0.8008282
          Parent: "12344"
          AdditionalFields:
          - Value: "42"
            Key: Example
          - Value: "42"
            Key: Example
          TaxClass: Normal
          PurchasePrice:
            Currency: Currency
            Value: 0.8008282
          Vendor: ACME Inc.
          Name: Toaster
          ShortDescription: A toaster made of stainless steel.
          SalesPrice:
            Currency: Currency
            Value: 0.8008282
          EAN: "1234567890123"
          LongDescription: A toaster made of stainless steel with a 2-slice capacity
            and a 7-setting browning control.
          Number: PROD0001
          ModificationDate: 2000-01-23T04:56:07.000+00:00
          Manufacturer: ACME Inc.
          ID: "12345"
          ImageSource: https://example.com/image.jpg
          Stock: 100
        PageSize: 10
        CurrentPage: 1
        PagesCount: 10
      required:
      - Products
      type: object
    ReceiptSearchResponse:
      allOf:
      - $ref: "#/components/schemas/BasicSearchResponse"
      - properties:
          Receipts:
            description: List of receipts.
            items:
              $ref: "#/components/schemas/StrictReceipt"
            type: array
        type: object
      example:
        TotalCount: 100
        PageSize: 10
        CurrentPage: 1
        PagesCount: 10
        Receipts:
        - CreationDate: 2000-01-23T04:56:07.000+00:00
          RevenueGross:
            Currency: Currency
            Value: 0.8008282
          GoogleClickID: "1234567890"
          CustomerID: "12345"
          DeliveryDate: 2025-04-04T09:39:19.931Z
          Number: RECEIPT0001
          ModificationDate: 2000-01-23T04:56:07.000+00:00
          ExternalOrderID: 1234
          DeliveryStatus: Open
          ExternalOrderAccountID: 42
          Items:
          - CreationDate: 2000-01-23T04:56:07.000+00:00
            ModificationDate: 2000-01-23T04:56:07.000+00:00
            Quantity: 1
            ProductID: "12345"
            PurchasePrice:
              Currency: Currency
              Value: 0.8008282
            TaxClass: Normal
            ProductNumber: ProductNumber
            SellingPrice:
              Currency: Currency
              Value: 0.8008282
          - CreationDate: 2000-01-23T04:56:07.000+00:00
            ModificationDate: 2000-01-23T04:56:07.000+00:00
            Quantity: 1
            ProductID: "12345"
            PurchasePrice:
              Currency: Currency
              Value: 0.8008282
            TaxClass: Normal
            ProductNumber: ProductNumber
            SellingPrice:
              Currency: Currency
              Value: 0.8008282
          ID: "12345"
          PaymentStatus: New
          ExternalOrderSubAccountID: ExternalOrderSubAccountID
          AdditionalFields:
          - Value: "42"
            Key: Example
          - Value: "42"
            Key: Example
          ExternalOrderExternalID: "1234567890"
          ReferrerChannel: direct
          Type: RE
          Marketplace: Marketplace
          PurchaseDate: 2025-04-04T09:39:19.931Z
          Referrer: example
          PaymentMethod: Credit Card
          ReceiptStatus: Open
          RevenueNet:
            Currency: Currency
            Value: 0.8008282
          ReceiptDate: 2025-04-04T09:39:19.931Z
          ExternalOrderType: shop
        - CreationDate: 2000-01-23T04:56:07.000+00:00
          RevenueGross:
            Currency: Currency
            Value: 0.8008282
          GoogleClickID: "1234567890"
          CustomerID: "12345"
          DeliveryDate: 2025-04-04T09:39:19.931Z
          Number: RECEIPT0001
          ModificationDate: 2000-01-23T04:56:07.000+00:00
          ExternalOrderID: 1234
          DeliveryStatus: Open
          ExternalOrderAccountID: 42
          Items:
          - CreationDate: 2000-01-23T04:56:07.000+00:00
            ModificationDate: 2000-01-23T04:56:07.000+00:00
            Quantity: 1
            ProductID: "12345"
            PurchasePrice:
              Currency: Currency
              Value: 0.8008282
            TaxClass: Normal
            ProductNumber: ProductNumber
            SellingPrice:
              Currency: Currency
              Value: 0.8008282
          - CreationDate: 2000-01-23T04:56:07.000+00:00
            ModificationDate: 2000-01-23T04:56:07.000+00:00
            Quantity: 1
            ProductID: "12345"
            PurchasePrice:
              Currency: Currency
              Value: 0.8008282
            TaxClass: Normal
            ProductNumber: ProductNumber
            SellingPrice:
              Currency: Currency
              Value: 0.8008282
          ID: "12345"
          PaymentStatus: New
          ExternalOrderSubAccountID: ExternalOrderSubAccountID
          AdditionalFields:
          - Value: "42"
            Key: Example
          - Value: "42"
            Key: Example
          ExternalOrderExternalID: "1234567890"
          ReferrerChannel: direct
          Type: RE
          Marketplace: Marketplace
          PurchaseDate: 2025-04-04T09:39:19.931Z
          Referrer: example
          PaymentMethod: Credit Card
          ReceiptStatus: Open
          RevenueNet:
            Currency: Currency
            Value: 0.8008282
          ReceiptDate: 2025-04-04T09:39:19.931Z
          ExternalOrderType: shop
      required:
      - Receipts
      type: object
    LegacySearchResponse:
      allOf:
      - $ref: "#/components/schemas/CustomerSearchResponse"
      - $ref: "#/components/schemas/ProductSearchResponse"
      - $ref: "#/components/schemas/ReceiptSearchResponse"
      deprecated: true
    ItemCreatedResponse:
      example:
        ID: "42"
      properties:
        ID:
          description: ID of the created Item.
          example: "42"
          type: string
      required:
      - ID
      type: object
    Timestamped:
      description: Response containing a timestamp.
      properties:
        CreationDate:
          description: "Creation Timestamp of the item. Set internally by Customa,\
            \ any given value is ignored."
          format: date-time
          type: string
        ModificationDate:
          description: "Timestamp of the last change of the item in the database.\
            \ Set internally by Customa, any given value is ignored."
          format: date-time
          type: string
      type: object
    Customer:
      allOf:
      - $ref: "#/components/schemas/Timestamped"
      - properties:
          ID:
            description: "ID of the customer. Set internally by Customa, any given\
              \ value is ignored."
            example: "12345"
            type: string
          Number:
            description: Customer number from e.g. an external Shop or ERP System.
            example: K123456
            maxLength: 32
            type: string
          Group:
            description: Group name of the customer
            example: group1
            maxLength: 255
            nullable: true
            type: string
          Salutation:
            description: "Salutation of the customer. 'm' for male, 'f' for female\
              \ and 'x' for neither or unknown."
            enum:
            - m
            - f
            - x
            type: string
          Title:
            description: (Academical) title of the customer.
            example: Dr.
            maxLength: 30
            type: string
          FirstName:
            description: First name of the customer.
            example: Max
            maxLength: 256
            type: string
          LastName:
            description: Last name of the customer.
            example: Mustermann
            maxLength: 256
            type: string
          Company:
            description: Company of the customer's address
            example: "ACME, Inc."
            maxLength: 256
            type: string
          Address:
            description: (Street) address of the customer
            example: Musterweg 42
            maxLength: 256
            type: string
          PostalCode:
            description: Postal code of the customer's address
            example: "12345"
            maxLength: 16
            type: string
          Suburb:
            description: Suburb of the customer's address
            example: ""
            maxLength: 256
            type: string
          City:
            description: City of the customer's address
            example: Musterstadt
            maxLength: 256
            type: string
          Country:
            description: ISO3166-1 Alpha-2 Code of the customer's country
            example: DE
            maxLength: 2
            type: string
          EMail:
            description: Email address of the customer.
            format: email
            maxLength: 128
            type: string
          Phone:
            description: Phone number of the customer.
            example: 123 456 7890
            maxLength: 256
            type: string
          Birthday:
            description: Date of birth of the customer.
            example: 1980-01-01
            format: date
            nullable: true
            type: string
          Referrer:
            description: Referrer (last cookie) of the customer.
            example: example
            maxLength: 256
            type: string
          ReferrerChannel:
            description: Referrer Channel of the customer.
            example: direct
            maxLength: 32
            type: string
          RegisterDate:
            description: Registration date of the customer.
            format: date-time
            type: string
          PurchaseDate:
            description: Purchase date of the customer.
            example: 2025-04-04T09:39:19.931Z
            format: date-time
            nullable: true
            type: string
          AdditionalFields:
            description: Additional data for the customer.
            items:
              $ref: "#/components/schemas/AdditionalField"
            type: array
          ReferenceCustomer:
            description: Determines if the customer is a reference customer.
            example: false
            type: boolean
          ContactBan:
            description: Determines if the customer has an active contact ban.
            example: false
            type: boolean
          ExternalCustomerID:
            description: ID/Number of the customer in the source system (e.g. an ERP
              System)
            example: 12345
            type: integer
          ExternalCustomerExternalID:
            description: ID/Number of the customer in a secondary source system (e.g.
              the shop)
            example: "12345"
            maxLength: 64
            nullable: true
            type: string
          ExternalOrderType:
            example: shop
            maxLength: 20
            type: string
          ExternalOrderAccountID:
            example: 42
            type: integer
          ExternalOrderSubAccountID:
            maxLength: 64
            type: string
          Marketplace:
            description: Marketplace of the customer.
            example: shop
            maxLength: 64
            type: string
          TestUser:
            example: false
            type: boolean
          Newsletter:
            example: false
            type: boolean
          Segment:
            description: "Segment of the customer. Read-only, changes via the API\
              \ will have no effect. Will be required in Q1 2026."
            example: A1
            type: string
        type: object
      description: Customer object containing all customer data.
      example:
        CreationDate: 2000-01-23T04:56:07.000+00:00
        Group: group1
        Company: "ACME, Inc."
        Address: Musterweg 42
        Suburb: ""
        ContactBan: false
        PostalCode: "12345"
        Birthday: 1980-01-01
        Salutation: m
        ExternalCustomerID: 12345
        Segment: A1
        Newsletter: false
        ReferenceCustomer: false
        Number: K123456
        ModificationDate: 2000-01-23T04:56:07.000+00:00
        Phone: 123 456 7890
        ExternalOrderAccountID: 42
        ID: "12345"
        TestUser: false
        ExternalOrderSubAccountID: ExternalOrderSubAccountID
        FirstName: Max
        RegisterDate: 2000-01-23T04:56:07.000+00:00
        AdditionalFields:
        - Value: "42"
          Key: Example
        - Value: "42"
          Key: Example
        Title: Dr.
        City: Musterstadt
        EMail: EMail
        ReferrerChannel: direct
        ExternalCustomerExternalID: "12345"
        Marketplace: shop
        Referrer: example
        PurchaseDate: 2025-04-04T09:39:19.931Z
        Country: DE
        LastName: Mustermann
        ExternalOrderType: shop
      type: object
    StrictCustomer:
      allOf:
      - $ref: "#/components/schemas/Customer"
      example:
        CreationDate: 2000-01-23T04:56:07.000+00:00
        Group: group1
        Company: "ACME, Inc."
        Address: Musterweg 42
        Suburb: ""
        ContactBan: false
        PostalCode: "12345"
        Birthday: 1980-01-01
        Salutation: m
        ExternalCustomerID: 12345
        Segment: A1
        Newsletter: false
        ReferenceCustomer: false
        Number: K123456
        ModificationDate: 2000-01-23T04:56:07.000+00:00
        Phone: 123 456 7890
        ExternalOrderAccountID: 42
        ID: "12345"
        TestUser: false
        ExternalOrderSubAccountID: ExternalOrderSubAccountID
        FirstName: Max
        RegisterDate: 2000-01-23T04:56:07.000+00:00
        AdditionalFields:
        - Value: "42"
          Key: Example
        - Value: "42"
          Key: Example
        Title: Dr.
        City: Musterstadt
        EMail: EMail
        ReferrerChannel: direct
        ExternalCustomerExternalID: "12345"
        Marketplace: shop
        Referrer: example
        PurchaseDate: 2025-04-04T09:39:19.931Z
        Country: DE
        LastName: Mustermann
        ExternalOrderType: shop
      required:
      - AdditionalFields
      - Address
      - Birthday
      - City
      - Company
      - ContactBan
      - Country
      - EMail
      - ExternalCustomerExternalID
      - ExternalCustomerID
      - ExternalOrderAccountID
      - ExternalOrderSubAccountID
      - ExternalOrderType
      - FirstName
      - Group
      - LastName
      - Newsletter
      - Number
      - Phone
      - PostalCode
      - PurchaseDate
      - ReferenceCustomer
      - Referrer
      - ReferrerChannel
      - RegisterDate
      - Salutation
      - Suburb
      - TestUser
      - Title
    Product:
      allOf:
      - $ref: "#/components/schemas/Timestamped"
      - properties:
          ID:
            description: "ID of the product. Set internally by Customa, any given\
              \ value is ignored."
            example: "12345"
            type: string
          Parent:
            description: ID of the parent product. The parent must be standalone and
              not have a parent itself.
            example: "12344"
            nullable: true
            type: string
          Number:
            description: "Product number, MUST be unique."
            example: PROD0001
            maxLength: 255
            type: string
          EAN:
            description: EAN of the product.
            example: "1234567890123"
            maxLength: 32
            type: string
          Name:
            description: Name of the product.
            example: Toaster
            maxLength: 255
            type: string
          Manufacturer:
            description: Manufacturer of the product.
            example: ACME Inc.
            maxLength: 64
            type: string
          Vendor:
            description: Vendor of the product.
            example: ACME Inc.
            maxLength: 128
            type: string
          ShortDescription:
            description: Short description of the product.
            example: A toaster made of stainless steel.
            type: string
          LongDescription:
            description: Long description of the product.
            example: A toaster made of stainless steel with a 2-slice capacity and
              a 7-setting browning control.
            type: string
          ImageSource:
            description: Source URI of the product image.
            example: https://example.com/image.jpg
            format: uri
            type: string
          Status:
            description: Whether the product is active or inactive.
            example: true
            type: boolean
          TaxClass:
            description: "Tax class of the product. For example, in Germany, 19% VAT\
              \ would be 'Normal' while 7% VAT would be 'Reduced'."
            enum:
            - Normal
            - Reduced
            - HighlyReduced
            - None
            type: string
          Stock:
            description: Stock of the product.
            example: 100
            type: integer
          AdditionalFields:
            description: Additional field data for the product.
            items:
              $ref: "#/components/schemas/AdditionalField"
            type: array
          PurchasePrice:
            $ref: "#/components/schemas/Price"
          SalesPrice:
            $ref: "#/components/schemas/Price"
          RecommendedRetailPrice:
            $ref: "#/components/schemas/Price"
        type: object
      example:
        Status: true
        CreationDate: 2000-01-23T04:56:07.000+00:00
        RecommendedRetailPrice:
          Currency: Currency
          Value: 0.8008282
        Parent: "12344"
        AdditionalFields:
        - Value: "42"
          Key: Example
        - Value: "42"
          Key: Example
        TaxClass: Normal
        PurchasePrice:
          Currency: Currency
          Value: 0.8008282
        Vendor: ACME Inc.
        Name: Toaster
        ShortDescription: A toaster made of stainless steel.
        SalesPrice:
          Currency: Currency
          Value: 0.8008282
        EAN: "1234567890123"
        LongDescription: A toaster made of stainless steel with a 2-slice capacity
          and a 7-setting browning control.
        Number: PROD0001
        ModificationDate: 2000-01-23T04:56:07.000+00:00
        Manufacturer: ACME Inc.
        ID: "12345"
        ImageSource: https://example.com/image.jpg
        Stock: 100
      type: object
    StrictProduct:
      allOf:
      - $ref: "#/components/schemas/Product"
      example:
        Status: true
        CreationDate: 2000-01-23T04:56:07.000+00:00
        RecommendedRetailPrice:
          Currency: Currency
          Value: 0.8008282
        Parent: "12344"
        AdditionalFields:
        - Value: "42"
          Key: Example
        - Value: "42"
          Key: Example
        TaxClass: Normal
        PurchasePrice:
          Currency: Currency
          Value: 0.8008282
        Vendor: ACME Inc.
        Name: Toaster
        ShortDescription: A toaster made of stainless steel.
        SalesPrice:
          Currency: Currency
          Value: 0.8008282
        EAN: "1234567890123"
        LongDescription: A toaster made of stainless steel with a 2-slice capacity
          and a 7-setting browning control.
        Number: PROD0001
        ModificationDate: 2000-01-23T04:56:07.000+00:00
        Manufacturer: ACME Inc.
        ID: "12345"
        ImageSource: https://example.com/image.jpg
        Stock: 100
      required:
      - AdditionalFields
      - EAN
      - ImageSource
      - LongDescription
      - Manufacturer
      - Name
      - Number
      - Parent
      - PurchasePrice
      - RecommendedRetailPrice
      - SalesPrice
      - ShortDescription
      - Status
      - Stock
      - TaxClass
      - Vendor
    Receipt:
      allOf:
      - $ref: "#/components/schemas/Timestamped"
      - properties:
          ID:
            description: "ID of the receipt. Set internally by Customa, any given\
              \ value is ignored."
            example: "12345"
            type: string
          Type:
            description: Type of the receipt.
            example: RE
            maxLength: 2
            type: string
          Number:
            description: Receipt number
            example: RECEIPT0001
            maxLength: 255
            type: string
          CustomerID:
            description: ID of the customer.
            example: "12345"
            type: string
          ExternalOrderType:
            example: shop
            maxLength: 20
            type: string
          ExternalOrderID:
            example: 1234
            nullable: true
            type: integer
          ExternalOrderExternalID:
            example: "1234567890"
            maxLength: 64
            nullable: true
            type: string
          ExternalOrderAccountID:
            example: 42
            type: integer
          ExternalOrderSubAccountID:
            maxLength: 64
            type: string
          Marketplace:
            description: Marketplace of the receipt.
            maxLength: 64
            type: string
          PurchaseDate:
            description: Purchase date of the receipt.
            example: 2025-04-04T09:39:19.931Z
            format: date-time
            type: string
          DeliveryDate:
            deprecated: true
            description: Delivery date of the receipt. Will be removed in Q1 2026.
              Please use ReceiptDate instead.
            example: 2025-04-04T09:39:19.931Z
            format: date-time
            nullable: true
            type: string
          ReceiptDate:
            description: Date of the receipt.
            example: 2025-04-04T09:39:19.931Z
            format: date-time
            nullable: true
            type: string
          Referrer:
            description: Referrer (last cookie) of the customer when creating this
              receipt.
            example: example
            maxLength: 256
            nullable: true
            type: string
          ReferrerChannel:
            description: Referrer Channel of the customer when creating this receipt.
            example: direct
            maxLength: 32
            nullable: true
            type: string
          PaymentMethod:
            description: Payment method of the receipt.
            example: Credit Card
            maxLength: 64
            type: string
          RevenueNet:
            $ref: "#/components/schemas/Price"
          RevenueGross:
            $ref: "#/components/schemas/Price"
          ReceiptStatus:
            description: Status of the receipt.
            enum:
            - Open
            - InProgress
            - Completed
            - Cancelled
            type: string
          PaymentStatus:
            description: Payment status of the receipt.
            enum:
            - New
            - Paid
            - Cancelled
            - PaidPartially
            - Reminded
            - InProgress
            - Authorized
            - Refunded
            - RefundedPartially
            - Failed
            - Chargeback
            - Unconfirmed
            type: string
          DeliveryStatus:
            description: Delivery status of the receipt.
            enum:
            - Open
            - PartiallyShipped
            - Shipped
            - Returned
            - PartiallyReturned
            - Cancelled
            type: string
          GoogleClickID:
            description: Google Click ID of this receipt.
            example: "1234567890"
            maxLength: 128
            nullable: true
            type: string
          Items:
            description: List of items in the receipt.
            items:
              $ref: "#/components/schemas/StrictReceiptItem"
            type: array
          AdditionalFields:
            description: Additional field data for the receipt.
            items:
              $ref: "#/components/schemas/AdditionalField"
            type: array
        type: object
      example:
        CreationDate: 2000-01-23T04:56:07.000+00:00
        RevenueGross:
          Currency: Currency
          Value: 0.8008282
        GoogleClickID: "1234567890"
        CustomerID: "12345"
        DeliveryDate: 2025-04-04T09:39:19.931Z
        Number: RECEIPT0001
        ModificationDate: 2000-01-23T04:56:07.000+00:00
        ExternalOrderID: 1234
        DeliveryStatus: Open
        ExternalOrderAccountID: 42
        Items:
        - CreationDate: 2000-01-23T04:56:07.000+00:00
          ModificationDate: 2000-01-23T04:56:07.000+00:00
          Quantity: 1
          ProductID: "12345"
          PurchasePrice:
            Currency: Currency
            Value: 0.8008282
          TaxClass: Normal
          ProductNumber: ProductNumber
          SellingPrice:
            Currency: Currency
            Value: 0.8008282
        - CreationDate: 2000-01-23T04:56:07.000+00:00
          ModificationDate: 2000-01-23T04:56:07.000+00:00
          Quantity: 1
          ProductID: "12345"
          PurchasePrice:
            Currency: Currency
            Value: 0.8008282
          TaxClass: Normal
          ProductNumber: ProductNumber
          SellingPrice:
            Currency: Currency
            Value: 0.8008282
        ID: "12345"
        PaymentStatus: New
        ExternalOrderSubAccountID: ExternalOrderSubAccountID
        AdditionalFields:
        - Value: "42"
          Key: Example
        - Value: "42"
          Key: Example
        ExternalOrderExternalID: "1234567890"
        ReferrerChannel: direct
        Type: RE
        Marketplace: Marketplace
        PurchaseDate: 2025-04-04T09:39:19.931Z
        Referrer: example
        PaymentMethod: Credit Card
        ReceiptStatus: Open
        RevenueNet:
          Currency: Currency
          Value: 0.8008282
        ReceiptDate: 2025-04-04T09:39:19.931Z
        ExternalOrderType: shop
      type: object
    StrictReceipt:
      allOf:
      - $ref: "#/components/schemas/Receipt"
      example:
        CreationDate: 2000-01-23T04:56:07.000+00:00
        RevenueGross:
          Currency: Currency
          Value: 0.8008282
        GoogleClickID: "1234567890"
        CustomerID: "12345"
        DeliveryDate: 2025-04-04T09:39:19.931Z
        Number: RECEIPT0001
        ModificationDate: 2000-01-23T04:56:07.000+00:00
        ExternalOrderID: 1234
        DeliveryStatus: Open
        ExternalOrderAccountID: 42
        Items:
        - CreationDate: 2000-01-23T04:56:07.000+00:00
          ModificationDate: 2000-01-23T04:56:07.000+00:00
          Quantity: 1
          ProductID: "12345"
          PurchasePrice:
            Currency: Currency
            Value: 0.8008282
          TaxClass: Normal
          ProductNumber: ProductNumber
          SellingPrice:
            Currency: Currency
            Value: 0.8008282
        - CreationDate: 2000-01-23T04:56:07.000+00:00
          ModificationDate: 2000-01-23T04:56:07.000+00:00
          Quantity: 1
          ProductID: "12345"
          PurchasePrice:
            Currency: Currency
            Value: 0.8008282
          TaxClass: Normal
          ProductNumber: ProductNumber
          SellingPrice:
            Currency: Currency
            Value: 0.8008282
        ID: "12345"
        PaymentStatus: New
        ExternalOrderSubAccountID: ExternalOrderSubAccountID
        AdditionalFields:
        - Value: "42"
          Key: Example
        - Value: "42"
          Key: Example
        ExternalOrderExternalID: "1234567890"
        ReferrerChannel: direct
        Type: RE
        Marketplace: Marketplace
        PurchaseDate: 2025-04-04T09:39:19.931Z
        Referrer: example
        PaymentMethod: Credit Card
        ReceiptStatus: Open
        RevenueNet:
          Currency: Currency
          Value: 0.8008282
        ReceiptDate: 2025-04-04T09:39:19.931Z
        ExternalOrderType: shop
      required:
      - AdditionalFields
      - CustomerID
      - DeliveryStatus
      - ExternalOrderAccountID
      - ExternalOrderExternalID
      - ExternalOrderID
      - ExternalOrderSubAccountID
      - ExternalOrderType
      - GoogleClickID
      - Items
      - Number
      - PaymentMethod
      - PaymentStatus
      - PurchaseDate
      - ReceiptDate
      - ReceiptStatus
      - Referrer
      - ReferrerChannel
      - RevenueGross
      - RevenueNet
      - Type
    ReceiptItem:
      allOf:
      - $ref: "#/components/schemas/Timestamped"
      - properties:
          ProductID:
            description: ID of the product.
            example: "12345"
            type: string
          ProductNumber:
            description: Product number of the product.
            type: string
          Quantity:
            description: Quantity of the product.
            example: 1
            type: integer
          SellingPrice:
            $ref: "#/components/schemas/Price"
          PurchasePrice:
            $ref: "#/components/schemas/Price"
          TaxClass:
            description: "Tax class of the item. For example, in Germany, 19% VAT\
              \ would be 'Normal' while 7% VAT would be 'Reduced'."
            enum:
            - Normal
            - Reduced
            - HighlyReduced
            - None
            type: string
        type: object
      type: object
    StrictReceiptItem:
      allOf:
      - $ref: "#/components/schemas/ReceiptItem"
      example:
        CreationDate: 2000-01-23T04:56:07.000+00:00
        ModificationDate: 2000-01-23T04:56:07.000+00:00
        Quantity: 1
        ProductID: "12345"
        PurchasePrice:
          Currency: Currency
          Value: 0.8008282
        TaxClass: Normal
        ProductNumber: ProductNumber
        SellingPrice:
          Currency: Currency
          Value: 0.8008282
      required:
      - ProductID
      - ProductNumber
      - Quantity
      - SellingPrice
      - TaxClass
    AdditionalField:
      description: Additional field data.
      example:
        Value: "42"
        Key: Example
      properties:
        Key:
          example: Example
          type: string
        Value:
          example: "42"
          type: string
      required:
      - Key
      - Value
      type: object
    OAuthValidationRequest:
      deprecated: true
      description: Request body for OAuth Token validation.
      properties:
        ClientID:
          description: OAuth Client ID.
          type: string
        Secret:
          description: OAuth Client Secret.
          type: string
      required:
      - ClientID
      - Secret
      type: object
    OAuthValidationResponse:
      deprecated: true
      description: Response for OAuth Token validation.
      properties:
        Valid:
          description: "Indicates whether the provided OAuth credentials are valid.\
            \ If an OAuth App was deactivated, this will always be false."
          type: boolean
      required:
      - Valid
      type: object
    AuthLoginRequestV3:
      description: Request body for authentication.
      example:
        Project: 10
        Username: user@customa.biz
        Password: secret123!
      properties:
        Username:
          description: Username (E-Mail address) used for authentication with Customa.
          example: user@customa.biz
          format: email
          title: Username.
          type: string
        Password:
          description: Password for the User.
          example: secret123!
          title: Password.
          type: string
        Project:
          description: ID of the project the user is authenticating for.
          example: 10
          title: Project ID.
          type: integer
      required:
      - Password
      - Project
      - Username
      title: Login Authentication Request
      type: object
    AuthTokenResponseV3:
      description: Response body of a successful authentication login request or token
        refresh.
      example:
        Expire: 2024-12-31T23:59:59Z
        Token: 044600149b8a50a2d00a32bc4ff9ac4bbdcdf82565e6b0900ded9daa4db77b55cb75eb58c71ae17af8634da8cce5d464735379f9b45c9ca4d3367d6eea9ea185
      properties:
        Token:
          description: "Random, hex encoded 64 Bytes used as a token for authentication.\
            \ The content of this token is not relevant, but it should be treated\
            \ as a secret and stored securely. It is recommended to refresh the token\
            \ at least 10 minutes before it expires to ensure uninterrupted access\
            \ to the API."
          example: 044600149b8a50a2d00a32bc4ff9ac4bbdcdf82565e6b0900ded9daa4db77b55cb75eb58c71ae17af8634da8cce5d464735379f9b45c9ca4d3367d6eea9ea185
          title: API Access Token.
          type: string
        Expire:
          description: "The timestamp on which the token expires, provided in RFC3339\
            \ Format."
          example: 2024-12-31T23:59:59Z
          format: date-time
          title: Expiration Timestamp.
          type: string
      required:
      - Expire
      - Token
      title: Authentication Token Response
      type: object
    ErrorResponseV3:
      description: Response body for an error response.
      example:
        Message: Something bad happened.
      properties:
        Message:
          description: A message giving feedback about the error. The recipient's
            logic must not rely on its content.
          example: Something bad happened.
          title: Error Message.
          type: string
      required:
      - Message
      title: Error Response
      type: object
    FilterType:
      enum:
      - IsEmpty
      - IsNotEmpty
      - Match
      - MatchPrefix
      - MatchSuffix
      - MatchInfix
      - LessThan
      - LessThanOrEqual
      - GreaterThan
      - GreaterThanOrEqual
      type: string
    Filter:
      description: Definition of a single filter.
      example:
        Field: Field
        Type: IsEmpty
        Values:
        - Values
        - Values
      properties:
        Type:
          $ref: "#/components/schemas/FilterType"
        Field:
          description: The field is the name of the field in the data that should
            be filtered. It must be a valid field name that can be used in the API
            requests.
          title: Field to be filtered.
          type: string
        Values:
          description: Values to be filtered. The values are combined using boolean
            OR.
          items:
            type: string
          title: Filter values.
          type: array
      required:
      - Field
      - Type
      - Values
      title: Filter definition
      type: object
    SearchRequest:
      description: Request body of a search request.
      example:
        PageSize: 10
        Filter:
        - Field: Field
          Type: IsEmpty
          Values:
          - Values
          - Values
        - Field: Field
          Type: IsEmpty
          Values:
          - Values
          - Values
        Page: 1
      properties:
        Page:
          description: Number of the result page to be returned.
          example: 1
          exclusiveMinimum: true
          minimum: 0
          title: Page number.
          type: integer
        PageSize:
          description: "Number of items per result page. Customa may choose a lower\
            \ value, please check the response."
          example: 10
          exclusiveMinimum: true
          minimum: 0
          title: Page size.
          type: integer
        Filter:
          description: "Filters to be applied to the search. The filters are combined\
            \ using boolean AND. If a filter contains multiple values, these are combined\
            \ using boolean OR."
          items:
            $ref: "#/components/schemas/Filter"
          title: Filters.
          type: array
      required:
      - Filter
      - Page
      - PageSize
      title: Search Request
      type: object
    SegmentCondition:
      enum:
      - GreaterThan
      - GreaterThanOrEqual
      - LessThan
      - LessThanOrEqual
      - Equal
      - Undefined
      type: string
    SegmentValue:
      description: A single segment value.
      example:
        Condition: GreaterThan
        Value: 0
      properties:
        Condition:
          $ref: "#/components/schemas/SegmentCondition"
        Value:
          type: integer
      required:
      - Condition
      - Value
      title: Segment Value
      type: object
    Segment:
      description: A single customer segment generated from the segment definition.
[...]
